---
permalink: /index.html
---

<div class="posts">
  {{#each collections.all}}
  <div class="post-item">
    <a href="{{this.url}}" class="post-title">{{data.title}}</a>
    <p class="post-subtitle">
      {{data.subtitle}}
    </p>
    <div style="flex-grow: 1"></div>
    <div class="tags">
      {{#each data.tags}}
      <div class="tag">{{this}}</div>
      {{/each}}
    </div>
    <p class="post-timestamp">Publised on {{data.publish_date}}</p>
  </div>
  {{/each}}
</div>
